@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-color: #e6533c;
  --text-color: #ffffff;
  --paragraph-color: #c9ccd9;
}
body {
  font-family: 'Inter', sans-serif;
  background: #111111;
}

/* navbar start  */
.header-section {
  background-color: linear-gradient(
    180deg,
    #111111 0%,
    rgba(119, 119, 119, 0) 100%
  );
  max-width: 1440px;
}
.navbar-main {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px auto;
  text-align: center;
}
.navbar-main h2 {
  color: var(--btn-color);
  font-size: 36px;
}
ul {
  display: flex;
  list-style: none;
  gap: 40px;
  border: 1px solid rgb(92, 79, 79);
  text-align: center;
  padding: 10px 10px 10px 0;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}
ul li a {
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}
.nav-link li a:hover {
  color: skyblue;
}

#nav-color {
  background-color: var(--btn-color);
  padding: 10px 20px;
  border-radius: 20px;
}
.menu {
  display: none;
}
.bx-menu {
  color: var(--text-color);
  font-size: 30px;
}
/* navbar end */

/* bennar div start */

.benner {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.bennar-content {
  width: 500px;
}
.bennar-content h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--text-color);
  margin-top: 50px;
}
.italic {
  font-style: italic;
  font-size: 4rem;
  font-weight: 100;
}
.bennar-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--paragraph-color);
  padding-top: 20px;
}
.btn {
  font-size: 18px;
  font-weight: 400;
  background-color: var(--btn-color);
  padding: 10px 20px;
  color: var(--text-color);
  border: none;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}
.btn-1 {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--text-color);
  border: 1px solid #777777;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #111111;
  transition: background-color 0.5s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn:hover {
  cursor: pointer;
  background-color: #4535c1;
}
.btn-1:hover {
  cursor: pointer;
  background-color: #4535c1;
}
.bannar-btn {
  margin-top: 40px;
}

/* bannar-img */

.bannar-img {
  height: 550px;
  position: relative;
  margin: 0 auto;
}
.video-tutorial {
  position: absolute;
  background-color: rgba(48, 48, 48, 0.54);
  bottom: 15%;
  left: -22%;
  width: 180px;
  height: 80px;
}
.display {
  display: flex;
  padding: 8px 15px;
  align-items: center;
}
.display p {
  width: 30px;
  height: 30px;
  background-color: #e6533c;
  border-radius: 40px;
}
.display h2 {
  color: var(--text-color);
  padding: 0 10px;
  font-size: 24px;
  font-weight: 900;
}
.video-tutorial p {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
}
.workout-video {
  position: absolute;
  background-color: rgba(48, 48, 48, 0.54);
  top: 27%;
  right: -20%;
  width: 180px;
  height: 80px;
}
.workout-video h2 {
  color: var(--text-color);
  padding: 0 10px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}
.workout-video p {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
}

/* bannar div end */

/* Change Your Habits section start */
.main-section {
  max-width: 1440px;
}

.change-habites-section {
  max-width: 90%;
  margin: 0 auto;
}

.change-habites-content {
  width: 670px;
  margin: 0 auto;
}
.change-habites-content h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-color);
  text-align: center;
  margin-top: 50px;
}
.change-habites-content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  text-align: center;
  line-height: 24px;
  padding: 15px;
}

/* <!-- habits section img part start --> */
.habits-img-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 30px auto;
}
.habits-img {
  width: 230px;
  margin: 20px auto;
  text-align: center;
}
.habits-img img {
  border-radius: 50%;
}
.habits-img h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  padding: 15px;
}
.habits-img p {
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 20px;
}

/* <!-- habits section img part end --> */

/* Change Your Habits section ends */

/* Run an Extra Mile Easily section start */
.run-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 20px;
  padding: 30px;
}
.run-content {
  width: 440px;
  padding: 20px;
}
.run-content h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-color);
  text-align: start;
  padding: 10px 0;
}
.run-content p {
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  text-align: start;
  line-height: 24px;
}

.run-img {
  width: 450px;
  height: 330px;
  border-radius: 40px;
  text-align: center;
}
.btn-2 {
  font-size: 18px;
  font-weight: 400;
  background-color: var(--btn-color);
  padding: 10px 50px;
  color: var(--text-color);
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}
.btn-2:hover {
  cursor: pointer;
  background-color: #4535c1;
}
/* Run an Extra Mile Easily section ends */

/* calculator-section :start */
.calculator-section {
  margin: 40px auto;
}
.calculator-section h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
}
.calculator-section p {
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  text-align: center;
  line-height: 24px;
  margin-bottom: 30px;
}
.calculate-bmi {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 30px 80px;
}
.calculator-section caption {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--text-color);
  text-align: start;
  padding: 10px 0;
}
.calculator {
  width: 300px;
  margin: 20px 50px;
}
table {
  background-color: #222222;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  color: #5f5959;
  font-size: 16px;
  border: 1px solid #5f5959;
  padding: 10px;
  text-align: center;
  width: 230px;
}
.calculator-form {
  width: 550px;
  margin: 10px 50px;
  align-items: center;
}
.calculator-form h2 {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--text-color);
  text-align: start;
  padding: 10px 0;
}
.calculator-form p {
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  text-align: start;
  line-height: 24px;
}
input {
  width: 250px;
  height: 40px;
  margin: 5px;
  color: #5f5959;
  background-color: #ffffff1a;
  padding: 8px;
  border-radius: 10px;
  border: none;
}
select {
  width: 250px;
  height: 40px;
  margin: 5px;
  color: #5f5959;
  padding: 8px;
  background-color: #ffffff1a;
  border-radius: 10px;
  border: none;
}

#activity-factor {
  width: 510px;
  height: 40px;
  margin: 5px;
  padding: 8px;
  background-color: #ffffff1a;
  box-sizing: 10px;
}
#submit {
  background-color: var(--btn-color);
  color: var(--text-color);
  width: 110px;
  font-size: 16px;
  border-radius: 20px;
  margin: 15px;
  transition: background-color 0.5s ease;
}
#submit:hover {
  cursor: pointer;
  background-color: #4535c1;
}
/* calculator-section ends */

/* resposive design Tablet */
@media screen and (max-width: 900px) {
  /* header-section start */
  .benner {
    flex-direction: column;
  }
  .bannar-img {
    margin-top: 40px;
  }
  .workout-video {
    top: 16%;
    right: -15%;
  }
  .video-tutorial {
    background-color: rgba(48, 48, 48, 0.54);
    bottom: 15%;
    left: -3%;
  }
  /* header-section ends */

  /* habits section img part start */
  .habits-img-section {
    grid-template-columns: repeat(2, 1fr);
  }
  /* habits section img part end */
  .run-content {
    width: 400px;
    padding: 10px;
  }
  .run-img {
    width: 300px;
    height: 340px;
  }
/* calculator-section start */
.calculator-section h2{
  text-align: start;
  padding-left: 10px;
}
.calculator-section p{
  text-align: start;
  padding: 10px;
}
  .calculate-bmi {
    flex-direction: column;
  }
  .calculator {
    margin:10;
    align-items: start;
  }
  .calculator-form {
    margin:10;
  }
  .calculate-bm{
    margin:10;
  }
}

/* resposive design mobile */
@media screen and (max-width: 576px) {
  .nav-link {
    display: none;
  }
  .menu {
    display: block;
  }
  .workout-video {
    top: 16%;
    right: -5%;
  }
  .bennar-content {
    width: 400px;
  }
  /* header-section ends */

  /* habits section img part start */
  .change-habites-content {
    width: 400px;
    margin: 0 auto;
  }
  .habits-img-section {
    grid-template-columns: repeat(1, 1fr);
  }
  /* habits section img part end */
  .run-section {
    flex-direction: column;
    margin: 0 auto;
  }
  .run-content {
    width: 320px;
  }
  .run-img {
    width: 320px;
    height: 200px;
    margin: 20px auto 0;
  }
  .btn-2 {
    padding: 10px 80px;
  }

  /* calculator-section start */

  input {
    width: 150px;
  }
  select {
    width: 150px;
  }

  #activity-factor {
    width: 320px;
  }
   .calculator-form {
    margin: 10px;
  }
.calculator-form {
  width: 350px;
  margin: 10px ;
}
.calculator{
  padding: 15px;
}
.calculate-bmi{
  padding: 15px;
}
  /* calculator-section ends */
}
